
::selection {
  background: $selection-bg;
  color: $selection-color;
}

body {
  position: relative; // Required by scrollspy
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background: $body-bg-color;

  +mobile() { padding-right: 0 !important; }
  +tablet() { padding-right: 0 !important; }
  +desktop-large() { font-size: $font-size-large; }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 1.5;
  font-family: $font-family-headings;
}

h2, h3, h4, h5, h6 { margin: 20px 0 15px; }

for headline in (1..6) {
  h{headline} {
    font-size: $font-size-headings-base - $font-size-headings-step * headline;
  }

  +mobile() {
    h{headline} {
      font-size: $font-size-headings-base - $font-size-headings-step * headline - 4px;
    }
  }
}

p { margin: 0 0 20px 0; }


//j's自定义修改

//链接默认无下划线
a {
  text-decoration: none;
}

//博文中链接效果
a[rel="noopener"] {
  color: #0068E5;//蓝色
  text-decoration: none;
  word-wrap: break-word;
  &:hover {
    color: #FF5E53;//橙色
    font-size: 15px;
  }
}

//查看全文按钮效果
a.btn{
  margin-top:10px;
   &:hover {
    font-size: 14px;
  }
}
//博文右侧导航栏小标题效果
a.nav-link:hover{
  font-size: 16px;
  text-decoration: underline;
}

//页码编号
a.page-number{
  color: #555555;//蓝色
  text-decoration: none;
  word-wrap: break-word;
  &:hover {
    color: #222222;//橙色
  }  
}
//前/后一页
a.extend{
  color: #555555;//蓝色
  text-decoration: none;
  word-wrap: break-word;
  &:hover {
    color: #222222;//橙色
  }
}

//搜索中的链接效果
ul.search-result-list li a {
  color: $link-color;
  &:hover { 
    font-size:14px;
    color: #000;
  }
}
ul.search-result-list li a.search-result-title {
  color: $link-color;
  &:hover { 
    font-size:16px;
    color: #000;
  }
}

//停留导航栏效果
nav ul li a {
  color: $link-color;
  &:hover { 
    color: #F5F5F5;
    background-color: #555555;
    border-bottom-color: #555555;
  }
}

//首页post标题效果(因为继承上面的a效果导致停留字体变化,所以在此添加)
article header h1 a {
  &:hover {
    font-size: 27px;//before为26px
    +mobile() {
      font-size: 22px;
    }
  }
}
//修改结束



blockquote {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}


hr {
  margin: 40px 0;
  height: 3px;
  border: none;
  background-color: $gray-lighter;
  background-image: repeating-linear-gradient(
    -45deg,
    white,
    white 4px,
    transparent 4px,
    transparent 8px
  );
}

blockquote {
  padding: 0 15px;
  color: $grey-dim;
  border-left: 4px solid $gray-lighter;

  cite::before {
    content: "-";
    padding: 0 5px;
  }
}

dt { font-weight: $font-weight-bolder; }

dd {
  margin: 0;
  padding: 0;
}


