// Custom styles.
//j's自定义修改

body{   
      background:url(https://cdn.safeandsound.cn/image/wave-ocean.jpg);
      background-size:cover;
      background-repeat:no-repeat;
      background-attachment:fixed;
      //background-position:center;
}

#sidebar {
      background:url(https://cdn.safeandsound.cn/image/sidebar-bg-forest.jpg);
      background-color:#fff;
      background-size: cover;
      background-position:center;
      background-repeat:no-repeat;
      //修改sidebar内部文字颜色
      p,span{color:black}
      //修改“文字目录”和站点概览的颜色
      .sidebar-inner li{color:grey}
      .sidebar-inner li:hover{color:black}
}
.header{
      background:rgba(248,248,248,0) none repeat scroll !important;
}
.content {
      border-radius: 10px;
      //减小content顶部与header的距离
      margin-top: -50px;
      background:rgba(248,248,248,0.3) none repeat scroll !important;
      padding:20px;
}
//内容页面宽度
.main-inner {width: 800px;}
//消除内容页面底部与footer的距离
.main {padding-bottom:0px;}


strong{
  font-size: 200%;
  color:#FF6B62;
}

//色块标注系列
div .div-border-left-yellow {
      margin-top: 8px;
      border-radius: 3px;
      padding: 10px;
      border: 1px solid #ccc;
      border-left-width: 5px;
      border-left-color: #f0ad4e;
      code {
        background: #f0ad4e;
      }
      strong {
        font-size:120%;
        margin: 0px;
        background: #FFD9A3;
      }
}

div .div-border-left-red {
      margin-top: 8px;
      border-radius: 3px;
      padding: 10px;
      border: 1px solid #ccc;
      border-left-width: 5px;
      border-left-color: #CC6666;
      code {
        background: #CC6666;
      }
      strong {
        font-size:120%;
        margin: 0px;
        background: #FF9B9B;
      }
      
}

//色块标注系列 结束

//代码块
pre.prettyprint.linenums.prettyprinted{
      margin:0px;
}
//正文段
p:not(.site-author-name):not(.site-description){
      text-indent: 2em;
      margin-bottom:0px;
}


//标注引用出处
.from {
      display:inline-block;
      margin-top:15px;
      margin-bottom:0;
      margin-left:20px;
      color: orange;
}

//段中行内代码效果
p code {
      color: #c7254e;
      background: #f9f2f4;
      border: 1px solid #d6d6d6;
      //取消短代码中的超链接样式
      a{
            color:#c7254e;
            border-bottom:0px;
            cursor:text;
            &:hover { 
                  text-decoration:none;
                  font-size:100%;
            }
      }
}
//代码块ol>li有类,entries页面中每一个词条对应一个ul>li无类
li:not([class]) > code {
      color: #c7254e;
      background: #f9f2f4;
      border: 1px solid #d6d6d6;
      //取消短代码中的超链接样式
      a{
            color:#c7254e;
            border-bottom:0px;
            cursor:text;
            &:hover { 
                  text-decoration:none;
                  font-size:100%;
            }
      }
}


//文中图片居中显示但不影响放大效果
img[src]:not(.fancybox-image) {
      width: 60%;
      clear: both;
      display: block;
      margin:auto;
}

//标题颠倒
.site-title {
      filter:  unquote("progid:DXImageTransform.Microsoft.BasicImage(rotation=2)");
      ms-filter: unquote("progid:DXImageTransform.Microsoft.BasicImage(rotation=2)");
      -moz-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      -webkit-transform: rotate(-180deg);
      position: absolute; 
}

.footer {
      background:rgba(255,255,255,0.7) none repeat scroll !important;
}
//标题颠倒 结束

//网页加载进度条
.pace {
      -webkit-pointer-events: none;
      pointer-events: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
}
.pace-inactive {
      display: none;
}
.pace .pace-progress {
      background: #22DD99;
      position: fixed;
      z-index: 2000;
      top: 0;
      right: 100%;
      width: 100%;
      height: 3px;
}
.pace .pace-progress-inner {
      display: block;
      position: absolute;
      right: 0px;
      width: 100px;
      height: 100%;
      box-shadow: 0 0 10px #e90f92, 0 0 5px #e90f92;
      opacity: 1.0;
      -webkit-transform: rotate(3deg) translate(0px, -4px);
      -moz-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
      -o-transform: rotate(3deg) translate(0px, -4px);
      transform: rotate(3deg) translate(0px, -4px);
}
.pace .pace-activity {
      display: block;
      position: fixed;
      z-index: 2000;
      top: 15px;
      right: 15px;
      width: 14px;
      height: 14px;
      border: solid 2px transparent;
      border-top-color: #e90f92;
      border-left-color: #e90f92;
      border-radius: 10px;
      -webkit-animation: pace-spinner 400ms linear infinite;
      -moz-animation: pace-spinner 400ms linear infinite;
      -ms-animation: pace-spinner 400ms linear infinite;
      -o-animation: pace-spinner 400ms linear infinite;
      animation: pace-spinner 400ms linear infinite;
}
@-webkit-keyframes pace-spinner {
      0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
      0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
      100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
      0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
      100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
      0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
      100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
      0% { transform: rotate(0deg); transform: rotate(0deg); }
      100% { transform: rotate(360deg); transform: rotate(360deg); }
}
//网页加载进度条 结束

//阅读进度条样式
.top-scroll-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 0;
    height: 2px;
    background: #FC6423;
}

//滚动条样式
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-button:start:increment,::-webkit-scrollbar-button:end:decrement {
  display: none;
}
::-webkit-scrollbar-corner {
  display: block;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0,0,0,.2);
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 8px;
  background-color: rgba(0,0,0,.5);
}
::-webkit-scrollbar-track,::-webkit-scrollbar-thumb {
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}
::-webkit-scrollbar-track:hover {
  background-color: rgba(0,0,0,.15);
}
//滚动条样式结束